@use "../../../styles/components/heroSection" as *;

.hero__content {
  // Variaciones específicas para `rollos-turnos`

  .hero__img {
    width: 80% !important;
    max-width: 1000px !important;
  }

  .hero__text {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
