@use "../../../styles/components/heroSection" as *;

.hero__content {
  // Variaciones específicas para `rollos-turnos`

  position: relative;

  .hero__img {
    width: 60% !important;
    height: 800px !important;
    max-width: 1000px !important;
    position: absolute;
    top: 0;
    left: clamp(50px, 15vw, 400px);

    @media (min-width: 500px) and (max-width: 1800px) {
      top: 0;
      height: auto !important;
      left: clamp(50px, 10vw, 100px);
    }
  }

  .hero__text {
    position: absolute;
    top: 22%;
    right: clamp(50px, 15vw, 300px);

    @media (min-width: 500px) and (max-width: 1800px) {
      top: 10%;
    }

    h1 {
      font-size: 2.5rem;

      @media (min-width: 500px) and (max-width: 1800px) {
        font-size: 2rem !important;
      }
    }

    p {
      font-size: 1.5rem;
      @media (min-width: 500px) and (max-width: 1800px) {
        font-size: 1rem !important;
      }
    }
  }
}
