@use "../../../styles/components/productsSection" as *;

.products__section {
  // Variaciones específicas para `turno-master`

  .products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
}
