@use "../../../styles/components/productsSection" as *;

.products__section {
  // Variaciones específicas para `turno-master`

  p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .card__btn {
    cursor: pointer;
    font-weight: 600;
    background: #6f3bb4;
    width: max-content;
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .products__container {
    margin-bottom: 0;
    gap: 4rem;
    img {
      height: 500px;
      padding: 1rem;
    }
  }
}
