@use "../../../styles/components/benefitsSection" as *;

.benefits__section {
  // Variaciones específicas para `rollos-turnos`

  position: relative;
  z-index: 2;

  .benefits__title {
    font-size: 3.5rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      display: flex;
      flex-direction: column;

      font-size: 1rem;

      img {
        width: 200px;
      }
    }

    li:nth-child(2) img {
      width: 80px;
    }

    li:nth-child(3) img {
      width: 250px;
    }
  }
}
